div img {
    height: 250px;
    margin: 0 0 0 100px;
}

.field {
    height: 280px;
    width: 1000px;
    background-color: rgb(203, 197, 197);
    border: 1px solid;
}


.field:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
}

.ball {
    margin-top: -50px;
    width: 25px;
    height: 25px;
    background-color: blue;
    border-radius: 25px;
    position: relative;
    left: 119px;
    transition: transform 1s ease-out;
}

.field:hover .ball {
    transform: translate(900px, -150px);
    -webkit-transform: translate(900px, -150px);
    -moz-transform: translate(900px, -150px);
    -ms-transform: translate(900px, -150px);
    -o-transform: translate(900px, -150px);
}